@import "tailwindcss";
@plugin "daisyui";

/* 字体配置 */
@import "./fonts.css";

@import "./base.css";
@import "./components.css";
@import "./utility.css";

/* 主题变量 */
@import "./theme.css";
@import "./themes/light.css";
@import "./themes/dark.css";



