@import "./themes/light.css";
@import "./themes/dark.css";

@theme {
  --font-sans-MaoKenZhuYuanTi: "MaoKenZhuYuanTi", sans-serif;
  --default-font-family: var(--font-sans-MaoKenZhuYuanTi);
  --container-8xl: 88rem;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  @apply bg-base-100 scrollbar scrollbar-w-2 scrollbar-thumb-violet-500
  scrollbar-hover:scrollbar-thumb-violet-600 scrollbar-hover:cursor-pointer
  scrollbar-active:scrollbar-thumb-violet-400;
}