@import "./themes/light.css";
@import "./themes/dark.css";

@theme {
  --font-sans-MaoKenZhuYuanTi: "MaoKenZhuYuanTi", sans-serif;
  --font-sans-AlimamaFangYuanTiVF-Thin: "AlimamaFangYuanTiVF-Thin", sans-serif;
  /*--default-font-family: var(--font-sans-MaoKenZhuYuanTi);*/
  --default-font-family: var(--font-sans-AlimamaFangYuanTiVF-Thin);
  --container-8xl: 88rem;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  @apply bg-base-100 scrollbar-hover:cursor-pointer scrollbar scrollbar-w-2.5
    scrollbar-thumb-primary/30 scrollbar-hover:scrollbar-thumb-primary/70
    dark:scrollbar-thumb-primary/70 dark:scrollbar-hover:scrollbar-thumb-primary;
}

html {
  @apply font-medium;
}